
/**
*扩展样式
**/
.panel-card {
    border:0;
    border-radius:0;
    box-shadow: 1px 1px 3px #ccc inset;
    position: relative;
}
.panel-card.active {
    background-color: #E92322;
}
.panel-card.active::before {
    content:"\e915";
    font-family:wjs;
    font-size:50px;
    color:#fff;
    position: absolute;
    top:-10px;
    left:-1px;
}
.panel-card.disabled {
    background-color: #e0e0e0;
}
.panel-card > .panel-heading {
    color: #333;
    float: right;
    width: 120px;
    padding:0;
    height: 150px;
    border-left:1px dashed #c0c0c0;
    position: relative;
    padding:0 20px;
}
.panel-card > .panel-heading::before {
    width: 16px;
    height: 16px;
    content:" ";
    border-radius:8px;
    position: absolute;
    background-color: #f0f0f0;
    top:-8px;
    left:-8px;

}
.panel-card > .panel-heading::after {
    width: 16px;
    height: 16px;
    content:" ";
    border-radius:8px;
    position: absolute;
    background-color: #f0f0f0;
    bottom:-8px;
    left:-8px;
    box-shadow: 0px 1px 1px #ccc inset;
}
.panel-card > .panel-body {
    margin-right:120px;
    height: 150px;
}
.panel-card > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-card > .panel-heading .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius:0;
    background-color: transparent;
    padding:3px;
}
.panel-card > .panel-heading .badge-one {
    color:#E92322;
    border-color:#E92322;
}
.panel-card > .panel-heading .badge-two {
    color:#399;
    border-color:#399;
}


.panel-card > .panel-heading > .tooltips {
    position :absolute;
    width: 100%;
    text-align: center;
    top:25px;
    left:0;
}


 #header .btn-register {
    color: #fff;
    background-color: #e92322;
    border-color: #DB3B43;
}
.btn-register:focus,
.btn-register.focus {
    color: #fff;
    background-color: #e92322;
    border-color: #DB3B43;
}
.btn-register:hover {
    color: #fff;
    background-color: #e92322;
    border-color: #DB3B43;
}
.btn-register:active,
.btn-register.active,
.open > .dropdown-toggle.btn-register {
    color: #fff;
    background-color: #e92322;
    border-color: #DB3B43;
}
.btn-register:active:hover,
.btn-register.active:hover,
.open > .dropdown-toggle.btn-register:hover,
.btn-register:active:focus,
.btn-register.active:focus,
.open > .dropdown-toggle.btn-register:focus,
.btn-register:active.focus,
.btn-register.active.focus,
.open > .dropdown-toggle.btn-register.focus {
    color: #fff;
    background-color: #E92322;
    border-color: #DB3B43;
}
.btn-register:active,
.btn-register.active,
.open > .dropdown-toggle.btn-register {
    background-image: none;
}
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled.focus,
.btn-register[disabled].focus,
fieldset[disabled] .btn-register.focus {
    background-color: #E92322;
    border-color: #DB3B43;
}
.btn-register .badge {
    color: #d9534f;
    background-color: #E92322;
}


.navbar-wjs {
    background-color: #fff;
    border-color: #f5f5f5;
    top:0;
    width: 100%;
}
.navbar-wjs .navbar-brand {
    color: #777;
}
.navbar-wjs .navbar-brand:hover,
.navbar-wjs .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-wjs .navbar-text {
    color: #777;
}
.navbar-wjs .navbar-nav > li > a {
    color: #777;
}
.navbar-wjs .navbar-nav > li > a:hover,
.navbar-wjs .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}
.navbar-wjs .navbar-nav > .active > a,
.navbar-wjs .navbar-nav > .active > a:hover,
.navbar-wjs .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}
.navbar-wjs .navbar-nav > .disabled > a,
.navbar-wjs .navbar-nav > .disabled > a:hover,
.navbar-wjs .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-wjs .navbar-toggle {
    border-color: #ddd;
}
.navbar-wjs .navbar-toggle:hover,
.navbar-wjs .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-wjs .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-wjs .navbar-collapse,
.navbar-wjs .navbar-form {
    border-color: #e7e7e7;
}
.navbar-wjs .navbar-nav > .open > a,
.navbar-wjs .navbar-nav > .open > a:hover,
.navbar-wjs .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-wjs .navbar-link {
    color: #777;
}
.navbar-wjs .navbar-link:hover {
    color: #333;
}
.navbar-wjs .btn-link {
    color: #777;
}
.navbar-wjs .btn-link:hover,
.navbar-wjs .btn-link:focus {
    color: #333;
}
.navbar-wjs .btn-link[disabled]:hover,
fieldset[disabled] .navbar-wjs .btn-link:hover,
.navbar-wjs .btn-link[disabled]:focus,
fieldset[disabled] .navbar-wjs .btn-link:focus {
    color: #ccc;
}
.navbar-wjs .navbar-toggle {
    margin-top:25px;
}



/**
*公共样式
**/

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
@font-face {
    font-family: 'wjs';
    src: url("../font/MiFie-Web-Font.eot") format('embedded-opentype'),
    url("../font/MiFie-Web-Font.svg") format('svg'),
    url("../font/MiFie-Web-Font.ttf") format('truetype'),
    url("../font/MiFie-Web-Font.woff") format('woff');
}

[class^="icon-"],[class*=" icon-"] {
    font-family: wjs;
    font-style:normal;
}


/**
*头部区域
**/
#header a {
    color:#888;
}
#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}
#header > .topbar .row >div {
    height: 40px;
    font-size: 12px;
    color:#888;
}
#header > .topbar .row > div + div {
    border-left:1px solid #c0c0c0;
}
#header .mobile-link {
    font-size: 12px;
    color:#888;
}
#header .mobile-link:hover {
    text-decoration: none;
}
#header .mobile-link > img {
    position: absolute;
    z-index: 2001;
    left:50%;
    margin-left:-81px;
    top:26px;
    display: none;
}
#header .mobile-link:hover > img {
    display: block;
}

#header > .topbar  .icon-mobilephone::before {
    content:'\e908';
    font-size: 13px;
}
#header > .topbar  .icon-telephone::before {
    content:'\e909';
    font-size: 13px;
}
.icon-logo::before {
    content: "\e93e";
    font-size: 32px;
    color:#333;
    vertical-align: middle;
    line-height: 50px;
}
.icon-icon::before {
    content:"\e920";
    font-size:50px;
    color:#e92322;
    vertical-align: middle;
    line-height: 50px;
}
#header > .topbar .a-link a {
    font-size: 12px;
    color:#888;
}
#header > .topbar .a-link a:hover {
    text-decoration: none;
}
#header > .navbar-wjs {
    margin-bottom: 0;
}
#header > .navbar-wjs .navbar-brand {
    height: 80px;
}
#header .navbar-wjs .navbar-nav > li a {
    line-height: 50px;
    font-size:14px;
}

/**
*轮播图区域
**/

#main_ad .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (min-width:768px) {
    #main_ad .carousel-inner > .item {
        height: 410px;
    }
}
#main_ad .carousel-inner > .item > img {
    width: 100%;
}

/*
*网站特色区域
*/
#features {
    padding:50px 0;
    border-bottom: 1px solid #c0c0c0;
}
#features .icon-uniE907::before {
    content: '\e907';
}
#features i {
    font-size:36px;
}
#features > .container > .row > div {
    margin:20px 0;
}
#features > .container > .row a{
    text-decoration: none;
    color:#333;
}
#features > .container > .row a:hover{
    color:#e92322;
}

/*
*立即预约
*/
.icon-uniE906::before {
    content:'\e906';
}
.icon-uniE905::before {
    content:'\e905';
}
#appointment {
    padding:20px;
    border-bottom: 1px solid #c0c0c0;
}
#appointment p {
    font-sezi:14px;
    margin-bottom: 0;
}
#appointment span ,
#appointment .pull-left a {
    color: #e92322;
}
#appointment .pull-left a {
    border-bottom: 1px dashed #e92322;
}
#appointment .pull-left a:hover {
    text-decoration: none;
}

/*
*产品介绍
 */
#products {
    padding:40px;
    background-color: #f0f0f0;
    border-bottom:1px solid #c0c0c0;
}

#products > .container .nav-tabs {
    padding-left:20px;
}
#products > .container .nav-tabs > li a{
    background-color: transparent;
    border-color: transparent;
    color:#333;
}
#products > .container .nav-tabs > li a:hover{
    color:#000;
}
#products > .container .nav-tabs > li.active{
    border-bottom: 3px solid #E92322;
}

#products > .container > .tab-content {
    padding:20px 0;
    color:#fff;
}
#products > .container > .tab-content p {
    margin-bottom:0;
}
#products > .container .panel-heading {
    padding:42px 37px;
    color:#fff;
    text-align: center;
}

#products > .container .panel-heading strong {
    font-size:30px;
}
#products > .container > .tab-content .disabled {
    color:#0f0f0f;
}
#products > .container > .tab-content .disabled .panel-heading{
    color:#0f0f0f;
}
#products > .container > .tab-content .disabled .panel-heading strong,
#products > .container > .tab-content .disabled .panel-heading sub{
    color:#e92322;
}


/*
* 新闻版块
*/
#news {
    padding:50px 0;
    border-bottom:1px solid #c0c0c0;

}
#news .new-title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding:15px 0;
    border-bottom:1px dashed #c0c0c0;
    position: relative;
    margin-right: 10px;
}
#news .new-title::after {
    content:'';
    width:10px;
    height: 10px;
    border-radius:5px;
    border:1px solid #c0c0c0;
    position: absolute;
    bottom:-5px;
    right:-10px;
}
#news .nav-stacked .icon-news01::before {
    content:'\e90e' ;
    font-size: 28px;
    color:#EAEAEA;
}
#news .nav-stacked .icon-news02::before {
    content:'\e90f' ;
    font-size: 28px;
    color:#EAEAEA;
}
#news .nav-stacked .icon-news03::before {
    content:'\e910' ;
    font-size: 28px;
    color:#EAEAEA;
}
#news .nav-stacked .icon-news04::before {
    content:'\e911' ;
    font-size: 28px;
    color:#EAEAEA;
}
#news .nav-stacked li {
    margin-bottom: 30px;
}
#news .nav-stacked a {
    text-align: center;
    border-radius:50%;
    width: 60px;
    height: 60px;
}
#news .nav-stacked a:hover {
    background-color: #337ab7;
}

@media (max-width: 768px) {
    #news .nav-stacked > li {
        float:left;
    }
}
/*
*合作伙伴
*/
#partner {
    text-align: center;
    padding:30px;
}
#partner ul {
    padding:0;
    margin:0 auto;
    list-style: none;
    width: 818px;
    position: relative;
    overflow: hidden;
}
#partner ul li {
    float: left;
}
#partner ul li + li {
   border-left: 1px dashed #e0e0e0;
}
#partner ul li a {
    padding:10px 20px;
    color:#888;
}
#partner a:hover {
    color:#E92322;
    text-decoration: none;
}
#partner .icon-partner01::before {
    content:"\e946";
    font-size:50px;
}
#partner .icon-partner02::before {
    content:"\e92f";
    font-size:50px;
}
#partner .icon-partner03::before {
    content:"\e92e";
    font-size:50px;
}
#partner .icon-partner04::before {
    content:"\e92a";
    font-size:50px;
}
#partner .icon-partner05::before {
    content:"\e929";
    font-size:50px;
}
#partner .icon-partner06::before {
    content:"\e931";
    font-size:50px;
}
#partner .icon-partner07::before {
    content:"\e92c";
    font-size:50px;
}
#partner .icon-partner08::before {
    content:"\e92b";
    font-size:50px;
}
#partner .icon-partner09::before {
    content:"\e92d";
    font-size:50px;
}






/*
*脚注部分
*/
#footer {
    height: 300px;
}